*{
    background-color: #1e1e1e;
}

.banner{
    width: 100%;
    height: 30vh;
    border-radius: 20px;
}

.dp{
    display: flex;
    flex-direction: row;
}

.profilePic{
    height: 30vh;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 50px ;
    transition: 0.8s;
}

.profilePic:hover{
    transform: scale(1.1);
}

.name{
    color: #fff;
    margin-top: -3px;
    margin-left: 20px;
    font-size: 250%;
    font-family: 'Playfair Display', serif;
}

.shortInfo{
    margin-top: 5px;
    font-size: large;
    font-weight: 100;
}

.tagline{
    color: #fff;
    font-size: 500%;
    margin-top: 0%;
    margin-left: 290px;
}

h1.aboutHead{
    color: #fff;
    font-size: 250%;
    margin-left: 40%;
    font-family: "Lucida Handwriting",  cursive;
}

.about{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #333333;
    border-radius: 20px;
    margin: 20px;
}

.aboutText{
    width: 60vw;
    height: 475px;
    color: #fff;
    margin-left: 30px;
    padding-top: 30px;
    font-size: larger;
    background-color: #333333;
}

div.aboutText p{
    background-color: #333333;
    padding: 50px;
    padding-bottom: 20px;
}

div.aboutText button{
    margin-top: 0%;
    margin-left: 50px;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
    background-color: #1e1e1e;
    transition: 1s;
}

div.aboutText button:hover{
    background-color: #252526;
}

.aboutImg{
    width: 40vw;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #333333;
}

div.aboutImg img{
    height: 450px;
    border-radius: 20px;
    margin-left: 20%;
    background-color: #333333;
    transition: 0.3s;
}

div.aboutImg img:hover{
    transform: scale(1.1);
}

h1.mySkills{
    color: #fff;
    font-size: 250%;
    margin-left: 43%;
    font-family: "Lucida Handwriting",  cursive;
}

div.webSkills{
    padding: 10px;
    background-color: #333333;
    border-radius: 30px;
    width: 60vw;
    margin-left: 15px;
}

div.webSkills h1{
    margin-left: 22vw;
    background-color: #333333;
    justify-items: center;
    color: aqua;
    font-family: "Lucida Handwriting",  cursive;
}

div.webSkills i{
    background-color: #333333;
    margin-left: 15%;
    transition: 0.3s;
}

div.webSkills i:hover{
    transform: scale(1.3);
}

div.progSkills{
    padding: 10px;
    background-color: #333333;
    border-radius: 30px;
    width: 60vw;
    margin-left: 35vw;
}

div.progSkills h1{
    margin-left: 18vw;
    background-color: #333333;
    color: aqua;
    font-family: "Lucida Handwriting",  cursive; 
}

div.progSkills img{
    width: 60px;
    margin-left: 16%;
    background-color: #333333;
    transition: 0.3s;
}

div.progSkills img:hover{
    transform: scale(1.3);
}

div.progSkills i{
    margin-left: 16%;
    background-color: #333333;
    transition: 0.3s;
}

div.progSkills i:hover{
    transform: scale(1.3);
}



div.database{
    padding: 5px;
    background-color: #333333;
    border-radius: 30px;
    width: 60vw;
    margin-left: 15px;
}

div.database h1{
    margin-left: 22vw;
    background-color: #333333;
    color: aqua;
    font-family: "Lucida Handwriting",  cursive; 
}

div.database img{
    background-color: #333333;
    width: 80px;
    margin-left: 25%;
    transition: 0.3s;
}

div.database img:hover{
    transform: scale(1.2);
}

h1.myProjects{
    color: #fff;
    font-size: 250%;
    margin-left: 43%;
    font-family: "Lucida Handwriting",  cursive;
}

div.proj{
    display: flex;
    flex-direction: row;
}

.projImg{
    width: 50vh;
    border-radius: 20px;
    transition: 0.3s;
}

.projImg:hover{
    transform: scale(1.1);
}

.projHead{
    background-color: #333333;
    color: aqua;
    text-align: center;
}

div.proj1{
    background-color: #333333;
    margin-left: 55px;
    padding: 40px;
    border-radius: 20px;
}

div.proj2{
    background-color: #333333;
    margin-left: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    border-radius: 20px;
}

div.proj3{
    background-color: #333333;
    margin-left: 40px;
    padding: 40px;
    border-radius: 20px;
}

.proj1 button{
    border: none;
    border-radius: 18px;
    padding: 15px;
    transition: 0.3s;
}

.proj1 button a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.proj1 button i{
    padding-right: 10px;
}

.proj1 button:hover{
    transform: scale(1.1);
}

.proj2 button{
    border: none;
    border-radius: 18px;
    padding: 15px;
    transition: 0.3s;
}

.proj2 button a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.proj2 button i{
    padding-right: 10px;
}

.proj2 button:hover{
    transform: scale(1.1);
}

.proj3 button{
    margin-top: 5px;
    border: none;
    border-radius: 18px;
    padding: 15px;
    transition: 0.3s;
}

.proj3 button a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.proj3 button i{
    padding-right: 10px;
}

.proj3 button:hover{
    transform: scale(1.1);
}

h1.contactMe{
    color: #fff;
    font-size: 250%;
    margin-left: 43%;
    font-family: "Lucida Handwriting",  cursive;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container .contactInfo1{
    margin-left: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo1 .box{
    position: relative;
    padding: 5px 0;
    display: flex;
}

.container .contactInfo1 .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo1 .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo1 .box .text h3
{
    margin-top: 15px;
    font-size: 30px;
    color: aqua;
}

.container .contactInfo1 .box .text p{
    margin-top: -15px;
}

.container .contactInfo1 .box .text a{
    color: #fff;
    margin-top: -15px;
}

.container .contactInfo2{
    height: 45vh;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo2 .box{
    position: relative;
    padding: 5px 0;
    display: flex;
}

.container .contactInfo2 .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo2 .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo2 .box .text h3
{
    margin-top: 15px;
    font-size: 30px;
    color: aqua;
}

.container .contactInfo2 .box .text p{
    margin-top: -15px;
}

.container .contactInfo2 .box .text a{
    color: #fff;
    margin-top: -15px;
}

div.copyright{
    background: #333333;
}

div.copyright p{
    text-align: center;
    color: #fff;
}